In [1]:
from privlib.riskAssessment.sequentialprivacyframe import SequentialPrivacyFrame as SPF
FOLDER = "data/riskassessment_data/"
GEOLIFE_FILE = "geolife_privacy.csv"
import pandas as pd

In [2]:
df_pd = pd.read_csv(FOLDER+GEOLIFE_FILE)

In [3]:
df_pd

                 datetime        lat         lng  uid
0     2011-10-17 13:43:18  37.068910  114.098359  102
1     2008-09-14 03:30:59  37.068910  114.098359  103
2     2008-09-25 13:29:27  37.068910  114.098359  104
3     2008-10-05 12:39:20  37.068910  114.098359  104
4     2007-10-05 17:32:24  37.068910  114.098359  105
...                   ...        ...         ...  ...
1651  2011-07-28 17:00:04  37.497469  116.818898  168
1652  2008-10-02 14:42:33  37.476022  116.812658  104
1653  2008-03-23 10:16:25  37.476022  116.812658  167
1654  2008-08-07 22:10:37  37.476022  116.812658  167
1655  2011-07-28 23:07:52  37.476022  116.812658  168

[1656 rows x 4 columns]

In [4]:
spf = SPF(df_pd, user_id='uid', datetime='datetime', elements = ['lat','lng'])

In [5]:
spf

,datetime,uid,elements,sequence,order
0,2011-10-17 13:43:18,102,"(37.06890998717948, 114.09835894294868)",102,1
13,2011-10-18 00:57:15,102,"(39.76236187850536, 116.28312259149092)",102,2
14,2011-10-19 01:16:56,102,"(39.76236187850536, 116.28312259149092)",102,3
914,2011-10-20 22:30:20,102,"(39.240474391600486, 116.3822810132606)",102,4
1166,2011-10-21 14:53:23,102,"(37.41968785277778, 114.50723498166666)",102,5
...,...,...,...,...,...
1164,2010-06-01 01:52:08,169,"(39.240474391600486, 116.3822810132606)",169,36
1165,2010-06-02 01:57:21,169,"(39.240474391600486, 116.3822810132606)",169,37
1443,2010-06-02 10:39:34,169,"(38.94254640337302, 116.31633746398808)",169,38
1444,2010-06-03 01:23:16,169,"(38.94254640337302, 116.31633746398808)",169,39
913,2010-06-03 11:12:40,169,"(39.76236187850536, 116.28312259149092)",169,40

In [6]:
from privlib.riskAssessment import constants
from privlib.riskAssessment.sequentialprivacyframe import SequentialPrivacyFrame as SPF
import numpy as np
import pandas as pd
import unittest

lat_lons = np.array([[43.8430139, 10.5079940],
                     [43.5442700, 10.3261500],
                     [43.7085300, 10.4036000],
                     [43.7792500, 11.2462600],
                     [43.8430139, 10.5079940],
                     [43.7085300, 10.4036000],
                     [43.8430139, 10.5079940],
                     [43.5442700, 10.3261500],
                     [43.5442700, 10.3261500],
                     [43.7085300, 10.4036000],
                     [43.8430139, 10.5079940],
                     [43.7792500, 11.2462600],
                     [43.7085300, 10.4036000],
                     [43.5442700, 10.3261500],
                     [43.7792500, 11.2462600],
                     [43.7085300, 10.4036000],
                     [43.7792500, 11.2462600],
                     [43.8430139, 10.5079940],
                     [43.8430139, 10.5079940],
                     [43.5442700, 10.3261500]])

traj = pd.DataFrame(lat_lons, columns=['lat', 'lon'])

traj[constants.DATETIME] = pd.to_datetime([
    '20110203 8:34:04', '20110203 9:34:04', '20110203 10:34:04', '20110204 10:34:04',
    '20110203 8:34:04', '20110203 9:34:04', '20110204 10:34:04', '20110204 11:34:04',
    '20110203 8:34:04', '20110203 9:34:04', '20110204 10:34:04', '20110204 11:34:04',
    '20110204 10:34:04', '20110204 11:34:04', '20110204 12:34:04',
    '20110204 10:34:04', '20110204 11:34:04', '20110205 12:34:04',
    '20110204 10:34:04', '20110204 11:34:04'])

traj[constants.USER_ID] = [1 for _ in range(4)] + [2 for _ in range(4)] + \
                [3 for _ in range(4)] + [4 for _ in range(3)] + \
                [5 for _ in range(3)] + [6 for _ in range(2)]

lat_lons_2 = np.array([[43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.7085300, 10.4036000],

                       [43.7792500, 11.2462600],
                       [43.8430139, 10.5079940],
                       [43.7792500, 11.2462600],
                       [43.8430139, 10.5079940],

                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],

                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500]])

trj2 = pd.DataFrame(lat_lons_2, columns=['lat', 'lng'])

trj2[constants.DATETIME] = pd.to_datetime(['20110203 8:34:04' for _ in range(36)])

trj2[constants.USER_ID] = [1 for _ in range(11)] + [2 for _ in range(4)] + \
                [3 for _ in range(9)] + [4 for _ in range(12)]

trj2['seq'] = [1 for _ in range(3)] + [2 for _ in range(8)] + [1 for _ in range(2)] + [2 for _ in range(2)] \
                + [1 for _ in range(9)] + [1 for _ in range(4)] + [2 for _ in range(4)] + [3 for _ in range(4)]

fist_df = traj
second_df = trj2

first_instance = traj[:2].values
second_instance = pd.concat([trj2[0:1], trj2[3:4]]).values

In [7]:
fist_sf = SPF(fist_df, user_id='uid', datetime='datetime', elements = ['lat','lon'])

In [8]:
sec_sf = SPF(second_df, user_id='uid', datetime='datetime', elements = ['lat','lng'], sequence_id='seq')

In [9]:
from privlib.riskAssessment.riskevaluators import IndividualSequenceEvaluator, IndividualElementEvaluator
import privlib.riskAssessment.attacks as att

In [10]:
iee = IndividualElementEvaluator(sec_sf, att.ElementsAttack, 2)
ise = IndividualSequenceEvaluator(sec_sf, att.ElementsAttack, 2)

In [11]:
iee

In [12]:
sec_sf

              datetime  uid  sequence                 elements  order
0  2011-02-03 08:34:04    1         1  (43.8430139, 10.507994)      1
1  2011-02-03 08:34:04    1         1  (43.8430139, 10.507994)      2
2  2011-02-03 08:34:04    1         1  (43.8430139, 10.507994)      3
3  2011-02-03 08:34:04    1         2  (43.8430139, 10.507994)      1
4  2011-02-03 08:34:04    1         2  (43.8430139, 10.507994)      2
5  2011-02-03 08:34:04    1         2     (43.54427, 10.32615)      3
6  2011-02-03 08:34:04    1         2     (43.54427, 10.32615)      4
7  2011-02-03 08:34:04    1         2     (43.54427, 10.32615)      5
8  2011-02-03 08:34:04    1         2     (43.54427, 10.32615)      6
9  2011-02-03 08:34:04    1         2      (43.70853, 10.4036)      7
10 2011-02-03 08:34:04    1         2      (43.70853, 10.4036)      8
11 2011-02-03 08:34:04    2         1     (43.77925, 11.24626)      1
12 2011-02-03 08:34:04    2         1  (43.8430139, 10.507994)      2
13 2011-02-03 08:34:04    2         2     (43.77925, 11.24626)      1
14 2011-02-03 08:34:04    2         2  (43.8430139, 10.507994)      2
15 2011-02-03 08:34:04    3         1  (43.8430139, 10.507994)      1
16 2011-02-03 08:34:04    3         1  (43.8430139, 10.507994)      2
17 2011-02-03 08:34:04    3         1  (43.8430139, 10.507994)      3
18 2011-02-03 08:34:04    3         1  (43.8430139, 10.507994)      4
19 2011-02-03 08:34:04    3         1  (43.8430139, 10.507994)      5
20 2011-02-03 08:34:04    3         1     (43.54427, 10.32615)      6
21 2011-02-03 08:34:04    3         1     (43.54427, 10.32615)      7
22 2011-02-03 08:34:04    3         1     (43.54427, 10.32615)      8
23 2011-02-03 08:34:04    3         1     (43.54427, 10.32615)      9
24 2011-02-03 08:34:04    4         1  (43.8430139, 10.507994)      1
25 2011-02-03 08:34:04    4         1  (43.8430139, 10.507994)      2
26 2011-02-03 08:34:04    4         1  (43.8430139, 10.507994)      3
27 2011-02-03 08:34:04    4         1  (43.8430139, 10.507994)      4
28 2011-02-03 08:34:04    4         2  (43.8430139, 10.507994)      1
29 2011-02-03 08:34:04    4         2  (43.8430139, 10.507994)      2
30 2011-02-03 08:34:04    4         2      (43.70853, 10.4036)      3
31 2011-02-03 08:34:04    4         2     (43.54427, 10.32615)      4
32 2011-02-03 08:34:04    4         3      (43.70853, 10.4036)      1
33 2011-02-03 08:34:04    4         3     (43.54427, 10.32615)      2
34 2011-02-03 08:34:04    4         3      (43.70853, 10.4036)      3
35 2011-02-03 08:34:04    4         3     (43.54427, 10.32615)      4

In [13]:
iee.assess_risk(verbose=True)

Risk progress:   0%|          | 0/4 [00:00<?, ?it/s]

   uid      risk
0    1  0.500000
1    2  1.000000
2    3  0.333333
3    4  0.500000

In [20]:
boh = ise.assess_risk(verbose=True, complete=True)

Risk progress:   0%|          | 0/4 [00:00<?, ?it/s]

In [21]:
boh

,uid,risk,cases,case_risk
0,1,0.500000,"([2011-02-03 08:34:04, 1, 1, (43.8430139, 10.5...",0.400000
0,1,0.500000,"([2011-02-03 08:34:04, 1, 1, (43.8430139, 10.5...",0.400000
0,1,0.500000,"([2011-02-03 08:34:04, 1, 1, (43.8430139, 10.5...",0.400000
0,1,0.500000,"([2011-02-03 08:34:04, 1, 2, (43.8430139, 10.5...",0.400000
0,1,0.500000,"([2011-02-03 08:34:04, 1, 2, (43.8430139, 10.5...",0.333333
...,...,...,...,...
3,4,0.666667,"([2011-02-03 08:34:04, 4, 3, (43.70853, 10.403...",0.500000
3,4,0.666667,"([2011-02-03 08:34:04, 4, 3, (43.70853, 10.403...",0.666667
3,4,0.666667,"([2011-02-03 08:34:04, 4, 3, (43.54427, 10.326...",0.666667
3,4,0.666667,"([2011-02-03 08:34:04, 4, 3, (43.54427, 10.326...",0.333333
3,4,0.666667,"([2011-02-03 08:34:04, 4, 3, (43.70853, 10.403...",0.666667