In [1]:
from privlib.riskAssessment.sequentialprivacyframe import SequentialPrivacyFrame as SPF
FOLDER = "data/riskassessment_data/"
GEOLIFE_FILE = "geolife_privacy.csv"
import pandas as pd

In [2]:
df_pd = pd.read_csv(FOLDER+GEOLIFE_FILE)

In [3]:
df_pd

                 datetime        lat         lng  uid
0     2011-10-17 13:43:18  37.068910  114.098359  102
1     2008-09-14 03:30:59  37.068910  114.098359  103
2     2008-09-25 13:29:27  37.068910  114.098359  104
3     2008-10-05 12:39:20  37.068910  114.098359  104
4     2007-10-05 17:32:24  37.068910  114.098359  105
...                   ...        ...         ...  ...
1651  2011-07-28 17:00:04  37.497469  116.818898  168
1652  2008-10-02 14:42:33  37.476022  116.812658  104
1653  2008-03-23 10:16:25  37.476022  116.812658  167
1654  2008-08-07 22:10:37  37.476022  116.812658  167
1655  2011-07-28 23:07:52  37.476022  116.812658  168

[1656 rows x 4 columns]

In [4]:
spf = SPF(df_pd, user_id='uid', datetime='datetime', elements = ['lat','lng'])

In [5]:
spf

,datetime,uid,elements,sequence,order
0,2011-10-17 13:43:18,102,"(37.06890998717948, 114.09835894294868)",102,1
13,2011-10-18 00:57:15,102,"(39.76236187850536, 116.28312259149092)",102,2
14,2011-10-19 01:16:56,102,"(39.76236187850536, 116.28312259149092)",102,3
914,2011-10-20 22:30:20,102,"(39.240474391600486, 116.3822810132606)",102,4
1166,2011-10-21 14:53:23,102,"(37.41968785277778, 114.50723498166666)",102,5
...,...,...,...,...,...
1164,2010-06-01 01:52:08,169,"(39.240474391600486, 116.3822810132606)",169,36
1165,2010-06-02 01:57:21,169,"(39.240474391600486, 116.3822810132606)",169,37
1443,2010-06-02 10:39:34,169,"(38.94254640337302, 116.31633746398808)",169,38
1444,2010-06-03 01:23:16,169,"(38.94254640337302, 116.31633746398808)",169,39
913,2010-06-03 11:12:40,169,"(39.76236187850536, 116.28312259149092)",169,40

In [6]:
from privlib.riskAssessment import constants
from privlib.riskAssessment.sequentialprivacyframe import SequentialPrivacyFrame as SPF
import numpy as np
import pandas as pd
import unittest

lat_lons = np.array([[43.8430139, 10.5079940],
                     [43.5442700, 10.3261500],
                     [43.7085300, 10.4036000],
                     [43.7792500, 11.2462600],
                     [43.8430139, 10.5079940],
                     [43.7085300, 10.4036000],
                     [43.8430139, 10.5079940],
                     [43.5442700, 10.3261500],
                     [43.5442700, 10.3261500],
                     [43.7085300, 10.4036000],
                     [43.8430139, 10.5079940],
                     [43.7792500, 11.2462600],
                     [43.7085300, 10.4036000],
                     [43.5442700, 10.3261500],
                     [43.7792500, 11.2462600],
                     [43.7085300, 10.4036000],
                     [43.7792500, 11.2462600],
                     [43.8430139, 10.5079940],
                     [43.8430139, 10.5079940],
                     [43.5442700, 10.3261500]])

traj = pd.DataFrame(lat_lons, columns=['lat', 'lon'])

traj[constants.DATETIME] = pd.to_datetime([
    '20110203 8:34:04', '20110203 9:34:04', '20110203 10:34:04', '20110204 10:34:04',
    '20110203 8:34:04', '20110203 9:34:04', '20110204 10:34:04', '20110204 11:34:04',
    '20110203 8:34:04', '20110203 9:34:04', '20110204 10:34:04', '20110204 11:34:04',
    '20110204 10:34:04', '20110204 11:34:04', '20110204 12:34:04',
    '20110204 10:34:04', '20110204 11:34:04', '20110205 12:34:04',
    '20110204 10:34:04', '20110204 11:34:04'])

traj[constants.USER_ID] = [1 for _ in range(4)] + [2 for _ in range(4)] + \
                [3 for _ in range(4)] + [4 for _ in range(3)] + \
                [5 for _ in range(3)] + [6 for _ in range(2)]

lat_lons_2 = np.array([[43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.7085300, 10.4036000],

                       [43.7792500, 11.2462600],
                       [43.8430139, 10.5079940],
                       [43.7792500, 11.2462600],
                       [43.8430139, 10.5079940],

                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],
                       [43.5442700, 10.3261500],

                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.8430139, 10.5079940],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500],
                       [43.7085300, 10.4036000],
                       [43.5442700, 10.3261500]])

trj2 = pd.DataFrame(lat_lons_2, columns=['lat', 'lng'])

trj2[constants.DATETIME] = pd.to_datetime(['20110203 8:34:04' for _ in range(36)])

trj2[constants.USER_ID] = [1 for _ in range(11)] + [2 for _ in range(4)] + \
                [3 for _ in range(9)] + [4 for _ in range(12)]

trj2['seq'] = [1 for _ in range(3)] + [2 for _ in range(8)] + [1 for _ in range(2)] + [2 for _ in range(2)] \
                + [1 for _ in range(9)] + [1 for _ in range(4)] + [2 for _ in range(4)] + [3 for _ in range(4)]

fist_df = traj
second_df = trj2

first_instance = traj[:2].values
second_instance = pd.concat([trj2[0:1], trj2[3:4]]).values

In [7]:
fist_sf = SPF(fist_df, user_id='uid', datetime='datetime', elements = ['lat','lon'])

In [8]:
sec_sf = SPF(second_df, user_id='uid', datetime='datetime', elements = ['lat','lng'], sequence_id='seq')

In [9]:
from privlib.riskAssessment.riskevaluators import IndividualSequenceEvaluator, IndividualElementEvaluator, TabularRiskEvaluator
import privlib.riskAssessment.attacks as att

In [10]:
iee = IndividualElementEvaluator(sec_sf, att.SequenceAttack, 3)
ise = IndividualSequenceEvaluator(sec_sf, att.SequenceAttack, 3)

In [11]:
a = iee.assess_risk()

In [12]:
a['risk'].to_list()

[1.0, 1.0, 0.3333333333333333, 1.0]

In [13]:
b = ise.assess_risk(verbose=True)

Risk progress:   0%|          | 0/4 [00:00<?, ?it/s]

In [14]:
from joblib import Parallel, delayed
from pandas import DataFrame, read_csv, Series, concat
from numpy import array
from itertools import combinations

In [15]:
data = {'name': ['ciccio', 'ciccio', 'boh', 'boh', 'ciccio'],
        'price': [1200, 150, 1200, 450, 1200],
        'mice': ['a', 'b', 'b', 'b', 'a']
        }

toydf = pd.DataFrame(data)

In [16]:
tre = TabularRiskEvaluator(toydf, att.TabularAttack, 2)

In [17]:
t = tre.assess_risk(complete=True)

0.5
0.5
0.5
1.0
1.0
1.0
1.0
0.5
1.0
1.0
0.5
1.0
0.5
0.5
0.5

In [22]:
t

   index  risk                            cases  case_risk
0      0   0.5  ((name, ciccio), (price, 1200))        0.5
0      0   0.5      ((name, ciccio), (mice, a))        0.5
0      0   0.5       ((price, 1200), (mice, a))        0.5
1      1   1.0   ((name, ciccio), (price, 150))        1.0
1      1   1.0      ((name, ciccio), (mice, b))        1.0
1      1   1.0        ((price, 150), (mice, b))        1.0
2      2   1.0     ((name, boh), (price, 1200))        1.0
2      2   1.0         ((name, boh), (mice, b))        0.5
2      2   1.0       ((price, 1200), (mice, b))        1.0
3      3   1.0      ((name, boh), (price, 450))        1.0
3      3   1.0         ((name, boh), (mice, b))        0.5
3      3   1.0        ((price, 450), (mice, b))        1.0
4      4   0.5  ((name, ciccio), (price, 1200))        0.5
4      4   0.5      ((name, ciccio), (mice, a))        0.5
4      4   0.5       ((price, 1200), (mice, a))        0.5

In [19]:
print(toydf)

     name  price mice
0  ciccio   1200    a
1  ciccio    150    b
2     boh   1200    b
3     boh    450    b
4  ciccio   1200    a

In [20]:
toydf.iloc[0]['price']

1200

In [21]:
for c in prova[0]:
    mtch = toydf.apply(lambda x: simple_match(x,c,0.1),axis=1)

NameError: name 'prova' is not defined

In [ ]:
mtch

In [ ]:
toydf

In [ ]:
ci = "ci"
mi = 'ci'

In [ ]:
ci == mi

In [ ]:
toydf.index.isin([0,1,2,3,4,5,6,7])